*  {
    font-family:sans-serif;
}

body {
    margin: 0px;
}

#wrapper {    
    width: 80%;
    margin: 0px auto;
}

div {
    background-color: darkgray;
    color: rgb(48, 39, 39);
    padding: 10px;

}

#station {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}